* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  font-size: 14px;
  color: #000;
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
img {
  width: 100%;
}
li {
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
}
.top{
	background-color: white;
}
<<<<<<< HEAD
<<<<<<< HEAD
.topline{
	padding: 10px 0px;
	background-color: #00CFEF;
	color: #fff;
=======
>>>>>>> 2a782836360f4ab8adc19b2ab7cbc7c6ec52ed9a
=======
.topline{
	padding: 10px 0px;
	background-color: white;
>>>>>>> 51c3fc4d77eb898e0b79e085a945904eb8419c48
}





.box-img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 250px;
	width: 100%;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	position: relative;
	-moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
}
.box-name{
	position: absolute;
	bottom: 0px;
	color: #fff;
	font-weight: 900;
	font-size: 2em;
	font-family: Calibri;
	text-align: center;
	background: rgba(0,207,239,0.9);
	width: 100%;
	transition: .4s
}
.inf{
	-moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
}
.box{
	margin-bottom: 20px;
}
.inf:hover .box-name{
	color: #00FAF6;
	background: #fff
}
.inf:hover{
	-webkit-transform: scale(1.06);
 -moz-transform: scale(1.06);
 -o-transform: scale(1.06);
}








/*Услуги*/
.radius{
	border-radius:  10px;
	overflow: hidden;
	margin-top: 20px;
	box-shadow:  0 0 5px rgba(0,0,0,.2);
}
.framepicture{
	width: 100%;
	height: 150px;
	overflow: hidden;
}


.obertka{
	display: block;
	text-decoration: none !important;
	width: 100%;
}
.obertka h3{
	color: #00CFEF;
	background-color: #F6F6F6;
	margin: -5px 0px 0px 0px;
	text-align: center;
	transition: 0.4s;
	padding: 10px 5px;
	z-index: 1000;
	overflow: hidden;
	font-size: 1.3em
}
.obertka:hover h3{
	color: #fff;
	background-color: #00CFEF;
}

.picture{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 150px;
	display: inline-block;
	transition: 0.4s;
}
.obertka:hover .picture{
	transform: scale(1.1);
}
.padddingbottom{
	padding-bottom: 40px;
}
.service{
	text-align: center;
	color: #078AE2;
	font-weight: bold;
	padding:20px;
<<<<<<< HEAD
	font-family: Calibri: ;, bold;
	border-bottom:2px solid skyblue;
=======
	font-family: Calibri;
>>>>>>> b5679798fb70cfd354c67b09842a29cecdf1502a
}
/*Услуги конец*/




/*Футер */
.footer {
	border-top: 10px solid #00CFEF;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	color: #444444;
	background:#00CFEF;
}
.footer span{
	margin-top: 40px;
	display: block;
}
.footer h3{
	margin-bottom: 20px;
}
.foooter{
	padding-bottom: 40px;
	text-align: left;
	color: #fff
}
.foooter a{
	color: #fff;
	transition: .2s ease
}

.footer li {
	 display: inline-block;
}
.footer ul a{
	border-radius: 100%;
    padding: 12px 15px 10px 15px;
    margin: 5px 0 0 22px;
    background: #444444;
    transition: 0.4s;
}
.footer ul a i{
	font-size: 1.1em;
	color: #fff;
}
.footer ul>li>.vk{
	  padding: 12px 13px 10px 13px;
}
.footer ul>li>.fb{
	  padding: 12px 16px 10px 17px;
}
.footer ul>li>.ok{
	  padding: 12px 16px 10px 16px;
}
.footer ul>li>.tw{
	  padding: 12px 14px 11px 14px;
}
.footer ul>li>.yt{
	  padding: 12px 15px 11px 15px;
}
.footer ul .yt:hover {
	background-color: #ca2f23;
}
.footer ul .fb:hover {
	background-color: #3B5998;
}
.footer ul .tw:hover {
	background-color: #578ccd;
}
.footer ul .ok:hover {
	background-color: #F58220;
}
.footer ul .vk:hover {
	background-color: #4A76A8;
}
@media (max-width: 767px){
	.footer ul a{
		    margin: 5px 0 0 5px;
	}
}
.foot_title{
	font-weight: bold;
	color: #fff;
	font-size: 1.3em;
	margin-bottom: 10px;
}
.foot_title i{
	border-bottom: 2px solid #fff;
	padding-bottom: 5px;
	font-style: normal;
}
.foooter a:hover{
	text-decoration: none;
	color: #1F45EF;
}

/*Футер конец*/





/*menu*/
.navbar-brand{
	width: 12%;
}
.navbar{
	font-size: 1.2em;
	color: #5F5F5F;
	padding: 10px;
}
.bg-light {
    background-color: #fff !important;
}
.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
	background: transparent;
}
.navbar-nav > li > a{
	padding: 20px 15px;
	font-weight: bold;
}
.navbar-nav > li:hover > a{
	padding: 20px 15px;
	color: #00CFEF;
}
.navbar-nav > li {
	position: relative;
  transition: .3s;
}
.navbar-nav > li ul {
	opacity: 0;
	visibility: hidden;
	transition: .3s;
	position: absolute;
	z-index: 1;
	top: 250%;	left: 0%;
	box-shadow: 0px 10px 20px #ddd;
}
.navbar-nav > li ul li a{
	background: #fff;
	padding: 15px 20px;
	width: 300px;
	color: #000;
	display: block;
	transition: .3s;
}
.navbar-nav > li:hover > a, .navbar-nav > li:focus > a{
}
.navbar-nav > li:hover ul, .navbar-nav > li:focus ul{
	opacity: 1;
	visibility: visible;
	top: 165%;
}
.navbar-nav > li ul li:hover a{
	color: #00B2CD;
}
/*end menu*/

	/*CAROUSEL*/
.carousel-inner img{
	width: 100%;
}
.carousel-inner .carousel-item{
	/*height: 600px*/
}
.carousel-item img {
	height:100%;
}
.carousel-item{
	height: 500px
}
/*CAROUSEL END*/


<<<<<<< HEAD
/*text box*/
.text_block-img img{
	width: 100%;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 55px;
	box-shadow: 0 0 10px skyblue
}
.text_block{
	color: #00CC9B;
	font-family: Calibri;
	font-weight: bold;
	font-size: 1.1em
}
.text_box{
	padding-bottom: 10px;
}
/*end of text box*/
=======
>>>>>>> b5679798fb70cfd354c67b09842a29cecdf1502a
